body {
    font: 20px, Arial, sans-serif;
}

.navbar {
    background-color: rgb(168, 124, 42);
}

.quem-somos {
    background-color: #585858;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #ffffff;
}

.bg-footer {
    background-color: black;
    color: white;
}

.servicos {
    background-color: wheat;
}